* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./img/fondo.jpg);
  width: 100%;
}
.pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 100%;
}

.pagina__item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.pagina__linea {
  list-style: none;
  text-align: center;
}
.paginacion__link {
  display: inline-block;
  margin: 0 5px;
  padding: 8px 12px;
  text-decoration: none;
  color: #f6edf7;
  background-color: #18201d;
  border: 1px solid #25e2e9;
  border-radius: 4px;
  margin-top: 230px;
}
.paginacion__link:hover {
  background-color: rgb(140, 167, 140);
  color: rgb(78, 32, 99);
  transform: 2s;
}
.pocision_tile {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.title {
  font-size: 30px;
  color: #25e2e9;
}
